# [link]()https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt#:~:text=4.1.3%20Snippet%20Options%3A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20*UltiSnips%2Dsnippet%2Doptions*

snippet shell "#!/usr/....(self:all)" b
#!/usr/bin/env ${1:bash}
endsnippet

snippet li
[${1:link}](${2:url})
endsnippet
