# vim:ts=4 sw=4 noexpandtab ft=snippets

snippet inc "include" b
#include <stdio.h>
$0
endsnippet

snippet helloc "A example Hello" b
#include <stdio.h>

int main(void)
{

	// A hello example
	printf("Hello, linux!\n");
	$0

	return 0;
}
endsnippet

snippet tmpl "c header" b
// FileName: ${0:`!p snip.rv = (snip.basename or "name") + ".c"`}
// Author: `echo $USER`
// Create Time: `date`
// Description: $1
endsnippet
