# vim:ts=4 sw=4 noexpandtab ft=snippets

snippet files "tiddlywiki files" b
{
  "tiddlers": [
    {
      "file": "$1",
      "fields": {
        "title": "$2",
        "type": ""
      }
    }
  ]
}
endsnippet
