snippet feat "feature" bA
feat($1): $2
endsnippet

snippet fix "fix" bA
fix($1): $2
endsnippet

snippet perf "perf" bA
perf($1): $2
endsnippet

snippet break "break" bA

BREAKING CHANGE: $1
endsnippet

snippet skip "skip"
[skip ci]
endsnippet

snippet docs "docs" bA
docs($1): Update $2
endsnippet
