# vim:ts=4 sw=4 noexpandtab ft=snippets

snippet feat "feature" bA
feat:$0
endsnippet

snippet fix "fix" bA
fix:$0
endsnippet

snippet perf "perf" bA
perf:$0
endsnippet

snippet break "break" bA
BREAKING CHANGE:$1
endsnippet

snippet skip "skip"
[skip ci]
endsnippet

snippet docs "docs" bA
docs:$0
endsnippet
