snippet feat "feature" iA
feat($1): $2
endsnippet

snippet fix "fix" A
fix($1): $2
endsnippet

snippet perf "perf" A
perf($1): $2
endsnippet

snippet break "break" A

BREAKING CHANGE: $1
endsnippet

snippet skip "skip"
[skip ci]
endsnippet

snippet docs "docs" A
docs($1): Update $2
endsnippet
