snippet docs "docs update"
docs: update README
endsnippet

snippet feat "feature"
feat($1): $2
endsnippet

snippet fix "fix"
fix($1): $2
endsnippet

snippet perf "perf"
perf($1): $2
endsnippet

snippet break "break"

BREAKING CHANGE: $1
endsnippet

snippet skip "skip"
[skip ci]
endsnippet
