snippet feat "feature"
feat($1): $2
endsnippet

snippet fix "fix"
fix($1): $2
endsnippet

snippet perf "perf"
perf($1): $2
endsnippet

snippet break "break"

BREAKING CHANGE: $1
endsnippet

snippet skip "skip"
[skip ci]
endsnippet

snippet art "🎨"
:art: $1

# Improve structure / format of the code.
endsnippet

snippet docs "📝"
:memo: Update docs $1

# Add or update documentation.
endsnippet

