# vim:ts=4 sw=4 noexpandtab ft=snippets

snippet zx "zx" b
#!/usr/bin/env zx

// enable quiet mode
$.verbose = false;
endsnippet

snippet logl "console log"
console.log($1)
endsnippet

snippet cmd "zx cmd" b
await $\`$1\`;
endsnippet
