snippet dependent "dependent" b
"dependents": ["$:/plugins/kookma/shiraz-callout", "$:/plugins/oeyoews/tiddlywiki-modal-ui"],
endsnippet

snippet newhitokoto "hitokoto" b
{
  "from": "@$0",
  "hitokoto": "$1"
},
endsnippet
