snippet cb "block" b
---[[
$1
--]]
endsnippet

#--[=[
snippet cc "comment"
--[=[

$1--]=]
endsnippet

snippet pp "adjust plugin"
local ok, ${1:name} = pcall(require, "${2:module}")

if not ok then
	vim.notify('$2 not founded')
	return
end

$1.setup({$3})
endsnippet

snippet vimn "vim votify"
vim.notify("$1 not founded")
endsnippet
