snippet links "link_self"
[${1:Text}](${2:url})
endsnippet

snippet cbox "checkbox [x]" b
- [ ] $1
endsnippet

snippet md "template" b
<!-- `date` -->
# ${1:Title head}

## ${2:Title level 2}

- ${3:content}
endsnippet

snippet deline "del"
~~$1~~
endsnippet

snippet cbl "container" b
::: $1
$2
:::
endsnippet

snippet form "formtter"
---
sidebar: auto
---
$1
endsnippet

snippet # "description" bA
## $1
endsnippet

