# vim:ts=4 sw=4 noexpandtab ft=snippets

snippet al "alias"
alias ${1:Command}
endsnippet

snippet fun "function"
# Dec: ${1:}
function ${2:FunctionName}() {
	${3:Body}
}
endsnippet

snippet main "main"
main() {
	$1
}

main
endsnippet

#TODO:
#snippet $ "reference variable"
#${$1}$2
#endsnippet
