snippet tt "tiddlywiki header template" bA
created: `date +%Y%m%d%H%M%S`
creator: oeyoews
modified: `date +%Y%m%d%H%M%S`
modifier: oeyoews
tags: test
title: `!v expand("%:r")`
type: text/vnd.tiddlywiki

${1:add your content}
endsnippet
