snippet useClient "use client" b
'use client'
endsnippet

snippet cl "console.log" b
console.log($1)
endsnippet

# todo
snippet rc "pure function component"
export default function $1() {
 $2
 return ()
}
endsnippet
