snippet sec "Comment Section" bA
" ===
" === $1
" ===
$2
endsnippet

snippet lua "lua << EOF"
lua << EOF
$1
EOF
endsnippet

snippet no "nnoremap"
noremap $1
endsnippet

snippet sil "silent"
<silent> $1
endsnippet

snippet cmd "<cmd>"
<cmd>$1<cr>
endsnippet

snippet cc "Comment"
--[[
--]]
endsnippet

# fun~
#snippet function "function!"
#function! ${1:NAME}()
#$2
#endfunction
#endsnippet

snippet plug "Plug"
Plug '$1'
endsnippet
