# vim:ts=4 sw=4 noexpandtab ft=snippets

# // enable quiet mode
# $.verbose = false;
snippet zx "zx" b
#!/usr/bin/env zx

endsnippet

snippet clog "console log"
console.log($1)
endsnippet

snippet cmd "zx cmd" b
await $\`$1\`;
endsnippet

snippet et "export default" b
export default $1
endsnippet

snippet did "Description" b
document.getElementById($1)
endsnippet
